<div [ngClass]="mobileMenuActive ? 'layout-wrapper-hidden-menu' : 'layout-wrapper'" >
    <app-topbar></app-topbar>
    <app-sidebar ></app-sidebar>
    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>
</div>

