.contenedor {
    background-color: #fff;
    .fondo {
        background: rgba(27, 0, 136, 0.384);
        background-size: 100% 100%;
        width: 100%;
        height: 800px;
  }


  .loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    padding: 20px 55px;
    box-sizing: border-box;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    text-align: center;


    .logo {
      height: 80px;
    }
    p {
      color: rgba(27, 0, 136, 1);
    }
  }

  .btn {
    background-color: rgba(237, 22, 80, 1);
    color: white;
    padding: 10px;
    border-radius:5px;
  }
  @media screen and (max-width:640px) {
  .fondo {
    display: none;
  }
  }
}
