<div class="layout-topbar">
    <div class="layout-topbar-content">
      <a href="#" id="menu-btn" class="menu-btn" (click)="app.onMobileMenuButton($event)" >
        <i class="fa fa-bars"></i>
      </a>      
      <img class="topbar-logo" src="{{user.photoUrl}}" alt="" srcset="">
      <a class="topbar-link" (click)="app.hideMobileMenu($event)">{{user.firstName}}</a>
    </div>
  </div>