<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active':app.mobileMenuActive}" >
    <ul class="layout-menu" (click)="app.hideMobileMenu($event)">

      <li>
        <a [routerLink]="['/charts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-pie-chart"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/mf-negos-create']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-table"></i>
          <span>Creación de Negos</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/panels']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-columns"></i>
          <span>Reducción/Cancelación</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/file']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-folder"></i>
          <span>Estado de Solicitudes</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/forms']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-check"></i>
          <span>Validación de Solicitudes</span>
        </a>
      </li>

      <!-- <li>
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-globe"></i>
          <span>Sample</span>
        </a>
      </li>
     
     
      <li>
        <a [routerLink]="['/overlays']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-window-maximize"></i>
          <span>Overlay</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/menus']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-bars"></i>
          <span>Menu</span>
        </a>
      </li>
      
     
      <li>
        <a [routerLink]="['/messages']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-comments"></i>
          <span>Messages</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/misc']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-gear"></i>
          <span>Misc</span>
        </a>
      </li> -->
    </ul>
  
    <a (click)="signOut()" class="unlock-btn">
      <i class="fas fa-unlock"></i>
      <span>Salir</span>
    </a>
  </div>
  