/* You can add global styles to this file, and also import other style files */

@mixin shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

.title{
    width: 100%;
    font-size: 24px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid  #DDDDDD;
    margin-bottom: 10px;
}

body {
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    color: #333333;
    font-size: 14px;
    //background-color: #f3f3f3;
    background-color: white;
    padding: 0;
    margin: 0;

    &.layout-scroll-block {
        overflow: hidden;
    }
}

.layout-wrapper {
    .layout-topbar {
        background: #1B0088;
        height: 60px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9999;
        @include shadow(0 0 16px 0 rgba(0, 0, 0, 0.16));

        .layout-topbar-content {
            padding: 10px 20px;
            position: relative;

            .topbar-logo {
                vertical-align: middle;
                border-radius: 25px;
                position:absolute;
                right: 90px;
                height: 35px;
            }
    
            .menu-btn {
                display: inline;
                color: #d8d8d8;
                font-size: 24px;
                vertical-align: middle;
                margin-right: 20px;
                margin-left: 20px;
            }
    
            .topbar-user-image {
                position: absolute;
                right: 130px;
                top: 0;
                display: block;
                height: 60px;
            }
            .topbar-link {
                color: #d8d8d8;
                position: absolute;
                right: 32px;
                top: 0;
                display: block;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                padding: 0 16px;
                text-decoration: none;

                &:hover {
                    background-color: #3a4246;
                }
            }
        }
    }

    .layout-sidebar {
        position: fixed;
        left: 0;
        top: 60px;
        width: 350px;
        background-color: #1B0088;
        height: 100%;
        z-index: 9999;
        @include shadow(0 0 16px 0 rgba(0, 0, 0, 0.16));

        .layout-menu {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    text-decoration: none;
                    display: block;
                    padding: 30px 24px;
                    color: #d8d8d8;
                    background-color: #1B0088;
                    font-size: 16px;
                    border-left: 4px solid transparent;
                    border-bottom: 1px solid #23292e;

                    i {
                        margin-right: 12px;
                    }

                    &:hover {
                        background-color: #353c43;
                    }

                    &.active{
                        background-color: #1d2327;
                        border-left-color: #007ad9;
                        
                        i {
                            color: #007ad9;
                        }
                    }
                }
            }
        }

        .unlock-btn {
            position: absolute;
            left: 0;
            bottom: 80px;
            background-color: #ffba01;
            padding: 10px 18px;
            width: 90%;
            color: #333333;
            font-weight: 700;
            transition: background-color .3s;

            i {
                font-size: 16px;
                margin-right: 6px;
            }

            &:hover {
                background-color: #ED990B;
            }
        }
    }

    .layout-content {
        margin-left: 350px;
        padding: 84px 24px 24px 24px;
    }

    .layout-footer {
        width: 100%;
        background-color: #343c41;
        padding: 16px;
        padding-left: 266px;
        color: #d8d8d8;
    }
}


.layout-wrapper-hidden-menu {
    .layout-topbar {
        background: #1B0088;
        height: 60px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9999;
        @include shadow(0 0 16px 0 rgba(0, 0, 0, 0.16));

        .layout-topbar-content {
            padding: 10px 20px;
            position: relative;

            .topbar-logo {
                vertical-align: middle;
                border-radius: 25px;
                position:absolute;
                right: 90px;
                height: 35px;
            }
    
            .menu-btn {
                display: inline;
                color: #d8d8d8;
                font-size: 24px;
                vertical-align: middle;
                margin-right: 20px;
                margin-left: 20px;
            }
    
            .topbar-user-image {
                position: absolute;
                right: 130px;
                top: 0;
                display: block;
                height: 60px;
            }
            .topbar-link {
                color: #d8d8d8;
                position: absolute;
                right: 32px;
                top: 0;
                display: block;
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                padding: 0 16px;
                text-decoration: none;

                &:hover {
                    background-color: #3a4246;
                }
            }
        }
    }

    .layout-sidebar {
        position: absolute;
        left: -350px;
        top: 60px;
        width: 250px;
        background-color: #1B0088;
        height: 100%;
        z-index: 9999;
        @include shadow(0 0 16px 0 rgba(0, 0, 0, 0.16));

        .layout-menu {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    text-decoration: none;
                    display: block;
                    padding: 12px 24px;
                    color: #d8d8d8;
                    background-color: #1B0088;
                    font-size: 16px;
                    border-left: 4px solid transparent;
                    border-bottom: 1px solid #23292e;

                    i {
                        margin-right: 12px;
                    }

                    &:hover {
                        background-color: #353c43;
                    }

                    &.active{
                        background-color: #1d2327;
                        border-left-color: #007ad9;
                        
                        i {
                            color: #007ad9;
                        }
                    }
                }
            }
        }

        .unlock-btn {
            position: absolute;
            left: 0;
            bottom: 80px;
            background-color: #ffba01;
            padding: 10px 18px;
            width: 100%;
            color: #333333;
            font-weight: 700;
            transition: background-color .3s;

            i {
                font-size: 16px;
                margin-right: 6px;
            }

            &:hover {
                background-color: #ED990B;
            }
        }
    }

    .layout-content {
        margin-left: 0px;
        padding: 84px 24px 24px 24px;
    }

    .layout-footer {
        width: 100%;
        background-color: #343c41;
        padding: 16px;
        padding-left: 266px;
        color: #d8d8d8;
    }
}


@media (max-width: 1024px) {
    .layout-wrapper {
        .layout-topbar {
            .layout-topbar-content {   
                .topbar-logo {
                    
                    margin-top: 6px;
                    border-radius: 25px;
                position:absolute;
                right: 90px;
                height: 35px;
                }

                .menu-btn {
                    display: inline-block;
                }
            }
        }

        .layout-sidebar {
            left: -350px;
            .layout-menu {
                li {
                   a {
                       padding: 40px 24px;
                   }
               }
           }
            &.layout-sidebar-active {
                left: 0;
                width: 100%;
            }
        }

        .layout-content {
            margin-left: 0;
        }
    }

    .layout-wrapper-hidden-menu {
        .layout-topbar {
            .layout-topbar-content {   
                .topbar-logo {
                    border-radius: 25px;
                position:absolute;
                right: 90px;
                height: 35px;
                    margin-top: 6px;
                }

                .menu-btn {
                    display: inline-block;
                }
            }
        }

        .layout-sidebar {
            left: -350px;
            .layout-menu {
                 li {
                    a {
                        padding: 40px 24px;
                    }
                }
            }
            &.layout-sidebar-active {
                left: 0;
                width: 100%;
            }
        }

        .layout-content {
            margin-left: 0;
        }
    }
}